body {
     background-color: #d11856;
}
header{
    padding: 20px;
    color: black;
    border-bottom: 5px;
    font-size: 35px;
}
.cabecalho {
    display: flex;
    justify-content: space-around;
}

#titulo {
    background-color: #7ae614;
    font-size: 60px;
    text-align: center;
}

.texto {
    background-color: #d11856;
    font-size:  40px;
    text-align: justify;
}

#teste {
    width: 500px;
    margin: 120px;
    height: 500px;
    padding: 100px;
}
.nome {
    background-image: blue,red;
}
.texto {
    background-image: blue
}